'.edit-code-blocks-view':
  'cmd-down': 'edit-code-blocks:jump-partial-down'
  'cmd-up': 'edit-code-blocks:jump-partial-up'
  'cmd-shift-down': 'edit-code-blocks:move-partial-down'
  'cmd-shift-up': 'edit-code-blocks:move-partial-up'

'.editor':
  'cmd-1': 'edit-code-blocks:capture1'
  'cmd-2': 'edit-code-blocks:capture2'
  'cmd-3': 'edit-code-blocks:capture3'
  'cmd-4': 'edit-code-blocks:capture4'
  'cmd-5': 'edit-code-blocks:capture5'
