@import "ui-variables";

.edit-code-blocks-view {
  background-color: @inset-panel-background-color;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-code-blocks-view .panel-heading {
  padding-bottom: 0;
}
