@import "ui-variables";
@import "octicon-mixins";

@link-icon-size: 11px;

.edit-code-blocks-view {
  background-color: @inset-panel-background-color;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-code-blocks-view .panel-heading {
  padding-bottom: 0;
}

.panes .pane .edit-code-blocks-view .item-views {
  display: block;
}

.edit-code-blocks-view .item-views .editor {
  position: relative;
}

.edit-code-blocks-view .btn {
  .octicon(link, @link-icon-size);
}
